.active{
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc;
}
.pannel{
	border:2px solid white;
	border-radius:10px;
	margin: 5px;
	padding: 5px;
	margin-right: 0px;
	margin-left: 0px;
	background-color: grey;
	/*text-align: center;*/
}
.pannel button{
	background-color:black;
	color: white;
	border-color: black;
}
.low-pannels hr{
	margin: 2px;
}
.movement{
	padding-left: 30%;
	padding-right: 30%;
	margin-left:5px;
}
.movement button{
	background-color: grey;
	color: white;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
